/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body{
  font-family: 'Playfair Display', serif;
  color: #807F5C;

}

h1{
  font-size: Ultra-Bold;
  font-weight: 900px;
}

nav ul a,
nav .brand-logo {
  color: #807F5C;
}

header{
  padding-top: 30px;
}

p {
  line-height: 2rem;
}

#carosel .slider .parralax-container{
  height: 550px;
}
/*div.slider.col.s12.m8.col8-offset.2 {
  height: 550px;
}*/
/*.slider .slides li img {
    height: 550px;*/


/*.slider .slides li img {
   height: 550px; */
}

img{
background-color: #807F5C;
}

#modal1 {
  color: #807F5C;
}

.button-collapse {
  color: #807F5C;
}

.material-icons{
  color:#795548;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  padding-top: 50px;
}
.parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.container .center .center{
  color: #807F5C;
}

.profpic {
  padding-left: 20px;
  max-width: 350px;
}


.icon-block {
  padding: 0 15px;
  text-align: center;
}
.icon-block .material-icons {
  font-size: inherit;
}
.card {
padding: 20px;
color:#807F5C;
text-align: center;

}
.cardrow{
  height: 400px;
}
.card .card-action a.link{
  color: #807F5C;
}

.container .profpic{
  padding-top: 50px;
  padding-left: 90px;
}


.btn btn-large{
background-color:#807F5C;
}
footer.page-footer {
  margin: 0;
  color: #807F5C;
}
page-footer{
  color:#807F5C;
}